body {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: rgba(38, 38, 38, 0.7);
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  font-weight: 600;
  color: white;
  border-radius: 100px;
  background-color: #bd7048;
  padding: 28px 45px;
}

.call {
  display: flex;
  font-size: 15px;
  align-items: center;
}

.call__img {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.call__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 18px;
}

.call__link {
  text-decoration: none;
  color: #000000;
}

.call__work-time {
  color: #3b3b3b80;
  opacity: 0.5;
}
.wrapper {
  max-width: 1180px;
  width: calc(100% - 80px);
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 50px 0 50px 0;
  align-items: center;
}

.logo__second-word {
  color: #bd7048;
}

.logo__caption {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}
.popup,
.numb,
.bar {
  display: none;
}
.header__nav {
  display: flex;
  font-size: 15px;
}

.header__nav-link {
  color: #000000;
  opacity: 0.5;
  padding: 10px 20px;
  font-weight: 600;
}

.header__nav-link:hover,
.header__nav-link_active {
  color: #bd7048;
  padding: 10px 20px;
  opacity: 1;
  font-weight: 600;
}

.intro {
  background: url(img/intro__bkgr-img.png) no-repeat;
  background-position-x: center;
}

.intro__wrapper {
  padding-top: 166px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 101px;
  position: relative;
}

.intro__cart-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin-right: 13px;
  line-height: 18px;
}

.bag {
  padding: 15px 20px;
  width: 21px;
  height: 26px;
}

.intro__cart-second-text {
  font-size: 10px;
  opacity: 0.7;
}

.intro__cart {
  display: flex;
  background-color: #262626;
  border-radius: 100px 0 0 100px;
  padding: 27px 76px 27px 53px;
  align-self: flex-end;
  position: absolute;
  right: -130px;
  top: 40px;
  transition: padding-right 500ms ease;
}

.intro__cart:hover {
  padding-right: 217px;
}

.intro__bag {
  background-color: white;
  border-radius: 50%;
  display: flex;
}

.intro__bag_mobile {
  display: none;
}

.intro__cart-bag {
  position: relative;
}

.intro__title {
  color: white;
  font-size: 40px;
  max-width: 846px;
  line-height: 49px;
  text-align: center;
  margin: 0;
  margin-bottom: 43px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.intro__button {
  margin-bottom: 136px;
}

.intro__service {
  padding: 70px;
  padding-bottom: 0;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
}

.intro__service-card {
  display: flex;
  padding-bottom: 25px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.6s;
}

.intro__service-card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 146px;
}

.intro__service-card-img {
  margin-right: 25px;
  align-self: flex-start;
}

.intro__service-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  color: #262626;
  max-width: 185px;
}

.text-first {
  font-size: 20px;
  margin-bottom: 3px;
  font-weight: 600;
}

.text-second {
  opacity: 0.7;
  line-height: 18px;
}

.work {
  padding-bottom: 140px;
  padding-top: 101px;
}
.work__wrapper {
  display: grid;
  grid-template-columns: 0.45fr 0.55fr;
  gap: 34px;
  position: relative;
}

.work__list-item {
  display: flex;
  margin-bottom: 73px;

  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}

.work__list-item:last-child {
  margin-bottom: 0;
}

.work__list-marker {
  font-weight: 700;
  font-size: 70px;
  line-height: 55px;
  color: #bd7048;
  opacity: 0.2;
  margin-right: 50px;
  max-width: 90px;
  align-self: start;
}

.work__list-marker_first {
  margin-right: 64px;
}

.work__list-text {
  display: flex;
  flex-direction: column;
  color: #262626;
  max-width: 287px;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #262626;
}

.work__subtitle {
  margin-bottom: 77px;
}

.work__images {
  display: flex;
}

.work__img-1 {
  align-self: center;

  transform: translate(130%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}

.work__img-2 {
  position: absolute;
  z-index: -2;
  right: -12%;
  width: 556px;
  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}

.h3-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #262626;
  margin: 0;
}

.services__due {
  margin-bottom: 30px;
}

.due {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
}

.services {
  padding-bottom: 164px;
  padding-top: 60px;
}

.due-date {
  opacity: 0.7;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.services__title {
  align-self: center;
  margin-bottom: 84px;
}

.services__content {
  display: flex;
  gap: 103px;
  position: relative;
  margin-bottom: 40px;
}

.services__subtitle {
  margin-bottom: 23px;
}
.services__text-main {
  margin-bottom: 44px;
}

ul {
  margin: 0;
}

.text-main {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.services__list {
  border-left: 1px solid #9f3535;
  padding-bottom: 10px;
  margin-bottom: 84px;
}

.services__list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
  margin: 0;
  margin-left: 21px;

  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}

.services__list-item_left {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
  margin: 0;
  margin-left: 21px;

  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}

.application {
  display: flex;
}

.application__pdf {
  display: flex;
  align-items: center;
  gap: 14px;
}

.application__button {
  margin-right: 47px;
}

.application__pdf-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #bd7048;
}

.services__img-3 {
  position: absolute;
  right: -12%;
  z-index: -1;
  transform: translate(160%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
  height: auto;
}

.services__img {
  padding: 38px 0 86px 0;
  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}

.services__img-3_left {
  position: absolute;
  left: -12%;
  z-index: -1;

  transform: translate(-160%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}

.services__img_left {
  padding: 71px 0 63px 0;

  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}

.services__text-content_left {
  padding-top: 73px;
}

.services__content_second {
  display: flex;
  gap: 103px;
  position: relative;
}

.check {
  padding-bottom: 120px;
}

.check__wrapper {
  display: flex;
  gap: 218px;
}

.check__img {
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 1.5s ease 0s;
}
.check__text-content {
  display: flex;
  flex-direction: column;
  padding-top: 121px;
}

.check__subtitle {
  margin-bottom: 32px;
}

.check__text-main {
  margin-bottom: 39px;
}

.check__button {
  align-self: flex-start;
}

.maxidash {
  padding-top: 1px;
  width: 100%;
  background-color: #cbcbcb;
}
.design {
  padding-bottom: 56px;
}
.design__wrapper {
  display: flex;
  flex-direction: column;
}
.design__title {
  margin-bottom: 40px;
  text-align: center;
  align-self: center;
}

.design__room {
  margin-bottom: 43px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.design__fill {
  margin-bottom: 88px;
}
.design__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.design__name {
  display: flex;
  flex-direction: column;
  position: relative;
}

.design__slider-item {
  display: none;
  position: relative;
  z-index: -1;
}

._slide-active {
  display: flex;
  justify-content: center;
  animation: fade linear 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.design__slider-nav_next {
  position: absolute;
  width: 183px;
  height: 269px;
  top: 0%;
  right: 0%;
}

.design__slider-nav_prev {
  position: absolute;
  width: 183px;
  height: 269px;
  top: 0%;
  left: 0%;
}

.design__maxidash {
  margin-left: 20px;
  align-self: center;
}
.design__text-main {
  text-align: center;
  margin-bottom: 38px;
  max-width: 1004px;
  align-self: center;
}

.design__content {
  display: flex;
  padding-top: 33px;
  justify-content: space-between;
  align-items: center;
}

.design__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #353535;
  padding-left: 28px;
}

.design__button {
  background-color: #fafafa;
  display: flex;
  border-radius: 100px;
  padding: 14px 35px;
}

.design__choose {
  color: #bd7048;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  align-self: center;
  margin-left: 12px;
}

.design__img {
  z-index: -1;
}

.dash-last {
  max-width: 773px;
}

.fill-last {
  margin-bottom: 118px;
}

.design__back-button {
  align-self: center;
}

.test {
  padding-top: 56px;
  padding-bottom: 53px;
  background-image: url(img/test__img.png);
  background-repeat: no-repeat;
  background-position: center;
}

.test__wrapper {
  padding: 125px 0 125px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.test__subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  margin-bottom: 27px;
}

h3 {
  margin: 0;
}

.test__text-main {
  max-width: 563px;
  margin-bottom: 35px;
  color: #ffffff;
  opacity: 0.7;
}

.question {
  padding: 53px 0px 74px 0;
}

.question__title {
  margin-bottom: 72px;
  text-align: center;
}

.question__sum {
  list-style-type: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
  background-color: #fafafa;
  border-radius: 100px;
  padding: 17px 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  display: flex;
}

.question__img {
  margin-right: 16px;
  fill: red;
}

.question__sum-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: 0.3s ease-out;
}

.question__details {
  margin-bottom: 21px;
}

.question__details:nth-child(5) {
  margin-bottom: 0;
}

.footer {
  padding-bottom: 76px;
}

.footer__content {
  display: flex;
  padding-top: 25px;
  padding-bottom: 26px;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__logo {
  margin-right: 209px;
}

.footer__menu {
  margin-right: 129px;
  display: flex;
  flex-direction: column;
}

.confid {
  margin-right: 148px;
}

.footer__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #212121;
  opacity: 0.7;
  padding-top: 2px;
}

.copyright {
  background-color: #262626;
  padding-top: 41px;
  padding-bottom: 38px;
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

@media (max-width: 1460px) {
  .intro {
    background-size: 1200px auto;
  }
  .services__wrapper {
    overflow: hidden;
  }

  .work__wrapper {
    overflow: hidden;
  }
  .intro__cart {
    right: -10px;
  }
}

@media (max-width: 1260px) {
  .intro__cart {
    right: 0%;
  }
  .work__img-1 {
    width: 250px;
    justify-content: center;
  }

  .work__img-2 {
    width: 500px;
    right: -5%;
  }
  .application {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .application__button {
    margin: 0;
  }

  .services__list {
    margin-bottom: 34px;
  }

  .design__grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .design__img {
    height: 100%;
    width: 100%;
  }

  .design__slider-nav_next,
  .design__slider-nav_prev {
    width: 50%;
    height: 74%;
  }

  .footer__logo,
  .footer__menu,
  .confid {
    margin-right: 0;
  }

  .intro__service-card-content {
    column-gap: 40px;
  }

  .services__img {
    width: 100%;
  }

  .services__plan {
    width: 400px;
  }
  .services__img-3,
  .services__backgr {
    height: 85%;
  }

  .services__img-3_left {
    height: 70%;
  }
}

@media (max-width: 980px) {
  .work__img-1 {
    width: 250px;
  }

  .work__img-2 {
    width: 500px;
    right: -18%;
    align-self: center;
  }

  .services__content,
  .services__content_second {
    gap: 50px;
  }

  .services__img {
    width: 80%;
  }

  .services__plan {
    width: 300px;
  }
  .services__img-3,
  .services__backgr {
    height: 80%;
  }

  .services__img-3_left {
    height: 65%;
  }

  .header__nav {
    display: none;
  }

  .hamb__field {
    display: flex;
    align-items: end;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 27px;
    height: 3px;
    margin: 3px 0;
    background-color: black;
    transition: 0.2s;
  }

  .bar:nth-child(2) {
    width: 37px;
  }

  .popup {
    position: fixed;
    top: 100px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup._open {
    right: 0;
  }

  .popup .header__nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 30px 0;
    overflow: auto;
    font-size: 30px;
  }

  .popup .header__nav .header__nav-link {
    padding: 20px;
  }

  .hamb__field {
    margin-right: 0;
  }

  body._noscroll {
    overflow: hidden;
  }

  .check__wrapper {
    gap: 50px;
  }

  .due-days {
    display: block;
  }
}

@media (max-width: 778px) {
  .call {
    display: none;
  }
  .test {
    padding: 0;
  }
  .intro__cart {
    display: none;
  }

  .intro__bag_mobile {
    display: flex;
    position: absolute;
    top: 40px;
    right: 10px;
    transition: 0.3s;
  }

  .work__images,
  .work__img-2 {
    display: none;
  }

  .work__wrapper {
    grid-template-columns: 1fr;
  }
  .services__content,
  .services__content_second {
    flex-direction: column;
    align-items: center;
  }

  .services__img-3,
  .services__img-3_left {
    display: none;
  }

  .services__text-content {
    order: 2;
  }

  .services__img-3 {
    order: 1;
  }

  .services__img,
  .services__plan {
    width: 90%;
    right: 0%;
    left: 0%;
    padding: 0;
  }
  .services__img_left {
    padding: 0;
  }

  .services {
    padding-bottom: 82px;
  }
  .check {
    padding-bottom: 82px;
  }

  .check__img {
    display: none;
  }

  .design__text {
    padding: 0;
  }

  .intro__service {
    padding: 35px;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__logo,
  .footer__menu,
  .confid {
    margin-right: 0;
  }

  .footer__logo {
    margin-bottom: 10px;
  }

  .footer__link {
    padding: 7px 0;
  }
}

@media (max-width: 718px) {
  .design__text {
    font-size: 30px;
    padding-left: 40px;
  }

  .design__fill {
    margin-bottom: 40px;
  }
}

@media (max-width: 693px) {
  .intro__wrapper {
    padding-bottom: 40px;
  }
  .work,
  .services,
  .design {
    padding: 60px 0;
  }
  .footer {
    padding: 0;
  }

  .check {
    padding-bottom: 60px;
  }

  .intro__service {
    padding: 70px;
  }
  .intro__service-card-content {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  .intro__button {
    margin-bottom: 43px;
  }

  .check {
    background-color: #fff0e9;
  }
  .check__text-content {
    padding-top: 60px;
  }
  .check__text-content {
    align-items: center;
  }
  .check__text-main {
    align-self: center;
  }
  .check__button {
    align-self: center;
  }
  .design__slider-nav_next,
  .design__slider-nav_prev {
    height: 80%;
  }
}

@media (max-width: 484px) {
  .intro__title {
    font-size: 30px;
  }
  .design__text {
    font-size: 25px;
    padding-left: 5px;
  }
  .work__list-marker {
    margin-right: 25px;
  }
  .work__list-marker_first {
    margin-right: 40px;
  }
  .h3-title {
    font-size: 25px;
    text-align: center;
  }

  .title {
    font-size: 35px;
  }
}

@media (max-width: 420px) {
  .intro__wrapper {
    padding-bottom: 1px;
  }
  .design__text {
    font-size: 20px;
    padding-left: 0;
  }

  .design__button {
    padding: 7px 17px;
  }

  .design__grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width: 380px) {
  .design__choose {
    display: none;
  }
  .design__button {
    padding: 8px 10px;
  }

  .design__slider-nav_next,
  .design__slider-nav_prev {
    height: 70%;
  }

  .wrapper {
    width: calc(100% - 20px);
  }

  .intro__service {
    padding: 40px;
  }

  .services__title {
    margin-bottom: 42px;
  }
}

@media (max-width: 320px) {
  .work__list-marker {
    margin-right: 10px;
    width: 20px;
  }
  .work__list-marker_first {
    margin-right: 10px;
  }
}
