body {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: rgba(38, 38, 38, 0.7);
  margin: 0px;
}



.call {
  display: flex;
  font-size: 15px;
  align-items: center;
}

.call__img {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.call__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 18px;
}

.call__link { 
  text-decoration: none;
  color: #000000;
}

.call__work-time {
  color: #3b3b3b80;
  opacity: 0.5;
}
.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  height: 121px;
  align-items: center;
}

.logo {
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

.logo__second-word {
  color: #bd7048;
}

.logo__caption {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.header__nav {
  display: flex;
  font-size: 15px;
}

.header__nav-link {
  text-decoration: none;
  color: #000000;
  opacity: 0.5;
  padding: 10px 20px;
  font-weight: 400;
  transition: color font-weight opacity 2s linear;
}

.header__nav-link:hover,
.header__nav-link_active {
  text-decoration: none;
  color: #bd7048;
  padding: 10px 20px;
  font-weight: 600;
  opacity: 1;
}

.intro {
  background-image: url(img/intro__bkgr-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
}

.intro__wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  padding-bottom: 101px;
}

.intro__cart-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-family: 'Montserrat Alternates';
  font-size: 15px;
  margin-right: 13px;
  line-height: 18px;
}

.bag {
  padding: 15px 20px;
}

.intro__cart-second-text {
  font-size: 10px;
  opacity: 0.7;
}

.intro__cart {
  display: flex;
  background-color: #262626;
  border-radius: 100px 0 0 100px;
  max-width: 295px;
  padding: 27px 0px 27px 53px;
  align-self: flex-end;
  position:relative;
  left:1324px;
  top:45px;
  transition:all 500ms ease;
}

.intro__cart:hover {
  max-width:400px;
  left:1219px;
}

.intro__bag {
  background-color: white;
  border-radius: 50%;
}

.intro__cart-bag {
  position: relative;
}

.intro__title {
  color: white;
  font-size: 40px;
  max-width: 846px;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin: 0;
  margin-bottom: 42px;

  transform: translate(0px,120%);
  opacity:0;
  transition: all 0.8s ease 0s;
}




.button__link {
  text-decoration: none;
  font-weight: 600;
  color: white;
  border-radius: 100px;
  background-color: #bd7048;

  padding: 28px 45px;
}

.button {
  display: flex;
}

.intro__button {
  margin-bottom: 135px;
}

.intro__service {
  padding: 70px;
  padding-bottom: 0px;
  background-color: #fff;
  border-radius: 50px 50px 0px 0px;
}

.intro__service-card {
  display: flex;
  padding-bottom:25px;

  transform: translate(0px,120%);
  opacity:0;
  transition: all 0.8s ease 0.6s;
}

.intro__service-card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 146px;
}

.intro__service-card-img {
  margin-right: 25px;
  max-width: 54px;
  align-self: flex-start;
}

.intro__service-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  color: #262626;
  max-width: 185px;
}

.text-first {
  font-size: 20px;
  margin-bottom: 3px;
  font-weight: 600;
}

.text-second {
  opacity: 0.7;
  line-height: 18px;
}

.work {
  padding-bottom: 140px;
  padding-top: 101px;
}
.work__wrapper {
  display: grid;
  grid-template-columns: 0.45fr 0.55fr;
  gap: 34px;
}

.work__list-item {
  display: flex;
  margin-bottom: 73px;

  transform: translate(-120%, 0px);
  opacity:0;
  transition: all 1.5s ease 0s;
}

.work__list-item:last-child {
  margin-bottom: 0px;
}

.work__list-marker {
  font-weight: 700;
  font-size: 70px;
  line-height: 55px;
  color: #bd7048;
  opacity: 0.2;
  margin-right: 50px;
  max-width: 90px;
  align-self: start;


}

.marker-1 {
  margin-right: 64px;

}

.work__list-text {
  display: flex;
  flex-direction: column;
  color: #262626;
  max-width: 287px;
}

.h2-title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #262626;
}

.work__subtitle {
  margin-bottom: 77px;
}

.work__images {
  display: flex;
}

.work__img-1 {
  align-self: center;

  transform: translate(130%, 0px);
  opacity:0;
  transition: all 1.5s ease 0s;
}

.work__img-2 {
  position: absolute;
  z-index: -2;
  right: 12%;

  transform: translate(120%, 0px);
  opacity:0;
  transition: all 1.5s ease 0s;
}

.h3-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #262626;
  margin: 0;
}

.services__due {
  margin-bottom: 30px;
}

.due {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
}

.services {
  padding-bottom: 164px;
  padding-top: 60px;
}

.due-date {
  opacity: 0.7;
}
.services__wrapper {
  display: flex;
  flex-direction: column;
}

.services__title {
  align-self: center;
  margin-bottom: 84px;
}

.services__content {
  display: flex;
  gap: 103px;
  position: relative;
  margin-bottom: 40px;
}

.services__subtitle {
  margin-bottom: 23px;
}
.services__text-main {
  margin-bottom: 44px;
}

ul {
  margin: 0;
}

.text-main {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.services__list {
  border-left: 1px solid #9f3535;
  padding-bottom: 10px;
  margin-bottom: 84px;
}

.services__list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
  margin: 0;
  margin-left: 21px;

  transform: translate(-120%, 0px);
  opacity:0;
  transition: all 1.5s ease 0s;
}

.services__list-item_left {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
  margin: 0;
  margin-left: 21px;

  transform: translate(120%, 0px);
  opacity:0;
  transition: all 1.5s ease 0s;
}

.application {
  display: flex;
  gap: 47px;
}

.application__pdf {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration:none;

}

.application__pdf-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #bd7048;
}

.services__img-3 {
  position: absolute;
  right: 12%;
  top: 1895px;
  z-index: -1;

  transform: translate(160%, 0px);
  opacity:0;
  transition: all 1.5s ease 0s;
}

.services__img {
  padding: 38px 0px 86px 0px;

  transform: translate(120%, 0px);
  opacity:0;
  transition: all 1.5s ease 0s;
}

.services__img-3_left {
  position: absolute;
  left: 12%;
  z-index: -1;
  top: 2546px;

  transform: translate(-160%, 0px);
  opacity:0;
  transition: all 1.5s ease 0s;
}

.services__img_left {
  padding: 71px 0px 63px 0px;

  transform: translate(-120%, 0px);
  opacity:0;
  transition: all 1.5s ease 0s;
}

.services__text-content_left {
  padding-top: 73px;
}

.services__content_second {
  display: flex;
  gap: 103px;
  position: relative;
}

.check {
  padding-bottom: 120px;
}

.check__wrapper {
  display: flex;
  gap: 218px;
}

.check__img {
  transform: translate(-120%, 0px);
  opacity:0;
  transition: all 1.5s ease 0s;
}
.check__text-content {
  display: flex;
  flex-direction: column;
  padding-top: 121px;
}

.check__subtitle {
  margin-bottom: 32px;
}

.check__text-main {
  margin-bottom: 39px;
}

.check__button {
  align-self: flex-start;
}

.maxidash {
  padding-top: 1px;
  width: 100%;
  background-color: #cbcbcb;
}
.design {
  padding-bottom: 56px;
}
.design__wrapper {
  display: flex;
  flex-direction: column;
}
.design__title {
  margin-bottom: 40px;
  text-align: center;
  align-self: center;
}

.design__room {
  margin-bottom: 43px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.design__break {
display:none;

}

.design__fill {
  margin-bottom: 88px;
}
.design__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.design__name {
  display: flex;
  flex-direction: column;
}

.design__slider-item {
  display:none;
  position:relative;
  z-index:-1;
}

._slide-active {
  display:block;
  animation: fade linear 1s;
}

@keyframes fade {
  from {
    opacity:.4;
  }
  to {
    opacity:1;
  }
}

.design__slider-nav_next {
  position:absolute;
  width:183px;
  height:269px;
  top:0%;
  right:0%;
  
}

.design__slider-nav_prev{
  position:absolute;
  width:183px;
  height:269px;
  top:0%;
  left:0%;
  
}


.design__maxidash {
  margin-left: 20px;
  align-self: center;
}
.design__text-main {
  text-align: center;
  margin-bottom: 38px;
  max-width: 1004px;
  align-self: center;
}


.design__content {
  display: flex;
  padding-top: 33px;
  justify-content: space-between;
  align-items: center;
}

.design__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #353535;
  padding-left: 28px;
}

.design__button {
  background-color: #fafafa;
  display: flex;
  border-radius: 100px;
  padding: 14px 35px;
}

.design__choose {
  color: #bd7048;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  align-self: center;
  margin-left: 12px;
}

.design__img {
  z-index: -1;
  max-width: 363px;
  height: 266px;
}

.design__name {
  position: relative;
}

.dash-last {
  max-width: 773px;
}

.fill-last {
  margin-bottom: 118px;
}

.design__back-button {
  align-self: center;
}

.test {
  padding-top: 56px;
  padding-bottom: 53px;
  background-image: url(img/test__img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 57px;
}

.test__wrapper {
  padding: 125px 0px 125px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.test__subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  margin-bottom: 27px;
}

h3 {
  margin: 0px;
}

.test__text-main {
  max-width: 563px;
  margin-bottom: 35px;
  color: #ffffff;
  opacity: 0.7;
}

.question {
  padding: 53px 0px 74px 0px;
}

.question__h2-title {
  margin-bottom: 72px;
  text-align: center;
}

.question__sum {
  list-style-type: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
  background-color: #fafafa;
  border-radius: 100px;
  padding: 17px 20px;
  display: flex;
  align-items: center;
}

.question__sum:before {
  content: url(img/plus.svg);
  margin-right: 16px;
  fill: red;
}

.question__sum-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
  padding: 34px 0px 34px 30px;
  transition: all 2s ease-out;
}

.question__details[open] > .question__sum:before {
  transform: rotateZ(45deg);
  color: #bd7048;
}

.question__details {
  margin-bottom: 21px;
}

.question__details:nth-child(5) {
  margin-bottom: 0px;
}

.footer {
  padding-bottom: 76px;
}

.footer__content {
  display: flex;
  padding-top: 51px;
  align-items: flex-start;
}

.footer__logo {
  margin-right: 209px;
}

.footer__menu {
  margin-right: 129px;
  display: flex;
  flex-direction: column;
}

.confid {
  margin-right: 148px;
}

.footer__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #212121;
  opacity: 0.7;
  padding-top: 2px;
}
.copyright {
  background-color: #262626;
  padding-top: 41px;
  padding-bottom: 38px;
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

._active {
  transform: translate(0px, 0px);
  opacity:1;
}

@media (max-width: 1402px) {
}

@media (max-width: 1472px) {
  .work__img-2 {
    right: 0%;
  }
  .services__img-3_left {
    left: 0%;
  }
  .services__img-3 {
    right: 0%;
  }

  .services__img-3_left {
    top:2625px;
}

@media (max-width: 1200px) {
  .application {
    flex-direction: column;
  }
}
@media (max-width: 1188px) {
  .design__break {
    display:block;
    width:1%;
  }
  .design__room {
    justify-content: space-evenly;
  }
}
@media (max-width: 1150px) {
  .design__room {
    justify-content: space-between;
  }
}

@media (max-width:1156px) {
.work__img-2 {
  visibility: hidden;
}
.services__img-3_left {
 visibility: hidden;
}
.services__img-3 {
  visibility: hidden;
}
}
